.banner
	.container
		.banner__content
			.banner__content__title
				| Welcome to my charity
			.banner__content__text
				| Lorem Ipsum is simply dummy text of the printing and typesetting.
			button.banner__content__button
				| Donate now