.content
	.content__block.content__block--1
		.content__block__column.content__block__column--1
			img(src="images/logo.png" alt="My Charity")
		.content__block__column.content__block__column--2
			img(src="images/content-block-1.jpg" alt="My Charity")
		.content__block__column.content__block__column--3
			.content__block__column__wrapper
				.content__block__column__title
					| Donate Now !
				.content__block__column__text
					| Lorem Ipsum is simply dummy text.
	.content__block.content__block--2
		.content__block__left
			.content__block__form
				.content__block__form__title
					| Sign up to newsletter
				form.content__block__form__subscribe(action="" method="post")
					input(type="text" placeholder="Enter your email")
					button(type="submit") Subscribe
				.content__block__form__text
					| Lorem Ipsum is simply dummy text of the printing and typeset
					| ing industry. Lorem Ipsum has been the industry's standard
					| dummy text
			.content__block__image
				img(src="images/content-left.jpg" alt="")
		.content__block__right
			img(src="images/content-right.jpg" alt="")
			.content__block__right__facebook
				img(src="images/facebook.png" alt="")
				.content__block__right__facebook__text
					| Like Now!
