.events
	.container
		.events__title
			| Our Events
		.events__list
			.events__event.events__event--active
				.events__event__date
					.events__event__date__day
						span 20
					.events__event__date__month
						| October
				.events__event__title
					| Lorem Ipsum is simply
				.events__event__text
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
					| Ipsum has been the industry's standard unchanged
				button.events__event__more
					| More
			.events__event
				.events__event__date
					.events__event__date__day
						span 7
					.events__event__date__month
						| July
				.events__event__title
					| Lorem Ipsum is simply
				.events__event__text
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
					| Ipsum has been the industry's standard unchanged
				button.events__event__more
					| More
			.events__event
				.events__event__date
					.events__event__date__day
						span 27
					.events__event__date__month
						| November
				.events__event__title
					| Lorem Ipsum is simply
				.events__event__text
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
					| Ipsum has been the industry's standard unchanged
				button.events__event__more
					| More
