footer.footer
	.container
		.footer__menu
			a.footer__menu__item.footer__menu__item--active(href="#")
				| Home
			a.footer__menu__item(href="#")
				| About us
			a.footer__menu__item(href="#")
				| Projects
			a.footer__menu__item(href="#")
				| Blog
			a.footer__menu__item(href="#")
				| Events
			a.footer__menu__item(href="#")
				| Gallery
			a.footer__menu__item(href="#")
				| Contact us
		.footer__actions
			.footer__actions__socials
				.footer__actions__title
					| Follow Us
				a.footer__actions__socials__link.footer__actions__socials__link--fb(href="#")
				a.footer__actions__socials__link.footer__actions__socials__link--tw(href="#")
				a.footer__actions__socials__link.footer__actions__socials__link--gp(href="#")
			.footer__actions__news
				.footer__actions__title
					| News letter
				form.footer__actions__news__form(action="" method="post")
					input(type="text" placeholder="Enter your email")
					button(type="submit")
						| Subscribe
			.footer__actions__contacts
				.footer__actions__title
					| Contact us
				.footer__actions__contacts__adress
					| Address<br>
					| New Street
				.footer__actions__contacts__phone
					| ph :xxxxx-xxx-xxxs
		.footer__copyright
			| ©
			a(href="https://cssauthor.com/" target="_blank") www.cssauthor.com
			| Allright Reserved