header.header
	.container
		a.header__logo(href="/")
			img(src="images/logo.png" alt="My Charity")
		.header__menu
			a.header__menu__item.header__menu__item--active(href="#")
				| Home
			a.header__menu__item(href="#")
				| About us
			a.header__menu__item(href="#")
				| Projects
			a.header__menu__item(href="#")
				| Blog
			a.header__menu__item(href="#")
				| Events
			a.header__menu__item(href="#")
				| Gallery
			a.header__menu__item(href="#")
				| Contact us
