.header {
	padding: 36px 0;

	.container {
		display: flex;
		justify-content: space-between;

		&::after {
			display: none;
		}
	}

	&__logo {
		img {
			display: block;
		}
	}

	&__menu {
		display: flex;
		align-items: center;

		&__item {
			margin: 0 2px;
			padding: 7px 16px;
			font-family: $font-roboto-slab;
			font-size: 14px;
			line-height: 22px;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-cape-cod;
			transition: background 0.1s ease-out;

			&:hover {
				border-radius: 2px;
				color: $color-white;
				background: $color-mexican-red;
			}

			&--active {
				border-radius: 2px;
				color: $color-white;
				background: $color-mexican-red;
			}

			@media (max-width: 960px) {
				padding: 7px 10px;
			}
		}

		@media (max-width: 870px) {
			display: none;
		}
	}

	&__hamburger {
		position: absolute;
		right: 30px;
		top: 0;
		display: none;
		outline: none;
		border: none;
		width: 40px;
		height: 40px;
		background: url("../images/sprites/png/menu.png") 0 0 no-repeat;
		background-size: cover;

		@media (max-width: 870px) {
			display: block;
		}

		@media (min-width: 871px) {
			display: none !important;
		}
	}

	&__mobile-menu {
		position: absolute;
		right: 30px;
		top: 0;
		z-index: 3;
		display: none;
		padding-right: 125px;
		padding-left: 30px;
		background: $color-mexican-red;

		&__item {
			display: block;
			margin: 5px 0;
			padding: 5px 0;
			font-size: 30px;
			text-decoration: none;
			color: $color-white;
		}

		@media (min-width: 871px) {
			display: none !important;
		}
	}
}
