$sprites: (
	"event-day-active": (
		normal: (
			x: 258,
			y: 0,
			width: 88,
			height: 102,
			image: "sprites.png",
			total_width: 346,
			total_height: 256,
		),
		retina: (
			x: 516,
			y: 0,
			width: 176,
			height: 204,
			image: "sprites@2x.png",
			total_width: 692,
			total_height: 512,
		),
	),
	"event-day": (
		normal: (
			x: 258,
			y: 104,
			width: 88,
			height: 102,
			image: "sprites.png",
			total_width: 346,
			total_height: 256,
		),
		retina: (
			x: 516,
			y: 208,
			width: 176,
			height: 204,
			image: "sprites@2x.png",
			total_width: 692,
			total_height: 512,
		),
	),
	"fb": (
		normal: (
			x: 258,
			y: 232,
			width: 11,
			height: 22,
			image: "sprites.png",
			total_width: 346,
			total_height: 256,
		),
		retina: (
			x: 516,
			y: 464,
			width: 22,
			height: 44,
			image: "sprites@2x.png",
			total_width: 692,
			total_height: 512,
		),
	),
	"gp": (
		normal: (
			x: 258,
			y: 208,
			width: 22,
			height: 22,
			image: "sprites.png",
			total_width: 346,
			total_height: 256,
		),
		retina: (
			x: 516,
			y: 416,
			width: 44,
			height: 44,
			image: "sprites@2x.png",
			total_width: 692,
			total_height: 512,
		),
	),
	"menu": (
		normal: (
			x: 0,
			y: 0,
			width: 256,
			height: 256,
			image: "sprites.png",
			total_width: 346,
			total_height: 256,
		),
		retina: (
			x: 0,
			y: 0,
			width: 512,
			height: 512,
			image: "sprites@2x.png",
			total_width: 692,
			total_height: 512,
		),
	),
	"tw": (
		normal: (
			x: 282,
			y: 208,
			width: 21,
			height: 17,
			image: "sprites.png",
			total_width: 346,
			total_height: 256,
		),
		retina: (
			x: 564,
			y: 416,
			width: 42,
			height: 34,
			image: "sprites@2x.png",
			total_width: 692,
			total_height: 512,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
