// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-cape-cod: #373838;
$color-mexican-red: #9b242d;
$color-chateau-green: #46a651;
$color-wild-sand: #f4f4f4;
$color-pampas: #f1efec;
$color-fern: #5ec069;
$color-sea-green: #348e3e;
$color-chambray: #3b5997;
$color-gray: #939393;
$color-silver: #c6c6c6;
$color-tundora: #494949;

// FONTS
$font-roboto: "Roboto", sans-serif;
$font-roboto-slab: "Roboto Slab", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
