// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

// FONTS
$font-roboto: "Roboto", sans-serif;
$font-roboto-slab: "Roboto Slab", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
