// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-cape-cod: #373838;
$color-mexican-red: #9b242d;

// FONTS
$font-roboto: "Roboto", sans-serif;
$font-roboto-slab: "Roboto Slab", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
